# Ignore SSH deploy key
# (not necessary now; I'm just going to check it in to the repo, since it's a
# read-only key)
# ssh_deploy_key
# ssh_deploy_key.pub

# Ignore all YAML config files *EXCEPT* the template used to create GCP cluster
# configs.
*.yaml
!gcp_cluster_template.yaml
