runs
test_observer
output
results
logs
demos
*_runs
*.pyc
*.egg-info
# /data is used for symlinks to datasets
/data
# data-icml is like data but with different trajectory sizes (for ICML)
/data-icml
progress.csv
params.json
*.tgz

# editor and devlopment tool cruft
.pytype
*.swp
*.cprof
.#*
*~
.idea
*.xml
*.iml
.ipynb_checkpoints
.DS_Store
venv
