numpy~=1.19.0
gym[atari]~=0.17
sacred~=0.8.1
torch~=1.5.1
opencv-python~=4.3.0.36
torchvision~=0.6.1
pyyaml~=5.3.1
sacred~=0.8.1
tensorboard~=2.2.0
pytest~=5.4.3
ray[tune]~=0.8.7
PyYAML~=5.3.1
scikit-video~=1.1.11
Pillow~=7.2.0
# Jupyter Lab is used for our experiment analysis notebook
jupyterlab~=2.2.6
scikit-optimize~=0.8.1
seaborn~=0.11.0
pyro-ppl~=1.4.0
# deps for Ray + GCP (see Ray issue #10724)
cryptography~=3.1
# my version of google-api-python-client fixes issue #873 in that repo (which
# has been known since at least 2017, and seems unlikely to ever get fixed)
# google-api-python-client~1.11.0
git+git://github.com/qxcv/google-api-python-client@8bc088828ef4d9fccfb27a4807257635805b84f2#egg=google-api-python-client

# imitation needs special branch as of 2020-08-17
git+git://github.com/HumanCompatibleAI/imitation@1524b44a2d5dd837eda61115b140c9ff59888431#egg=imitation
git+git://github.com/HumanCompatibleAI/stable-baselines3.git@e00331bc832ea109a197903941d59011c3cd3a3a#egg=stable-baselines3

# environments
# (MAGICAL currently requires an old version of Pyglet)
pyglet==1.3.*
git+https://github.com/qxcv/magical@master#egg=magical
dm_control~=0.0.319497192
git+git://github.com/denisyarats/dmc2gym@6e34d8acf18e92f0ea0a38ecee9564bdf2549076#egg=dmc2gym
